*{
    padding: 0;
    margin: 0;

}

button{
   display: block;
    background-color: #426B1F;
    color: white;
    width: 83px;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
}
button ,p{
    display: flex;
    align-items: center;
    text-align: center;
   
}